@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Lato&family=Playfair+Display&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: #0e1434;
}
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.content {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
}
.notes-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.note-preview {
  background-color: rgba(254, 254, 254, 0.2);
  width: 150px;
  height: 100px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  position: relative;
}

.note-preview h2 {
  font-size: 16px;
  padding-bottom: 10px;
  color: #e2e2e2;
}

.note-preview p {
  font-size: 12px;
  color: #bebebe;
}

.note-preview:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.note-preview button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #e93177;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-note-btn {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #3756f4;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 32px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 0 auto;
}

.add-note-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.btn a {
  text-decoration: none;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  background-color: rgba(254, 254, 254, 0.2);
  border: none;
  border-radius: 10px;
  width: 250px;
  height: 20px;
  color: #e2e2e2;
  padding: 10px;
}

.add {
  text-align: center;
}

.add h2 {
  color: #fff;
}

.add form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add label {
  color: #e2e2e2;
  padding: 10px;
}
.add input {
  background-color: rgba(254, 254, 254, 0.2);
  border: none;
  border-radius: 20px;
  width: 300px;
  height: 30px;
  color: #e2e2e2;
  padding: 10px;
}
.add textarea {
  background-color: rgba(254, 254, 254, 0.2);
  border: none;
  border-radius: 20px;
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  color: #e2e2e2;
}
.add button {
  color: #fff;
  background-color: #3756f4;
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.add button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.filters-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.filters-btn button {
  padding: 5px 10px;
  color: #ffffff;
  background-color: #3756f4;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.filters-btn button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
